@charset "utf-8";
/* CSS Document */

body { margin:0; padding:0; font-family: Georgia, "Times New Roman", Times, serif; font-size:13px; color:#474747; line-height:18px; }
h1, h2, h3, h4, h5, h6 { margin:0; padding:0; }

h1{ color:#68b43b; font-size:24px; font-weight:bold; }
h2{ color:#68b43b; font-size:18px; font-weight:bold; }
h3{ color:#000; font-size:16px; font-weight:bold; }

a{ text-decoration:none;}

.container { width:980px; height:auto; margin:0 auto; padding:10px 0;}
a img { border:none; }
.required { color:#F00;}

.clearfix { clear:both; }
.divider { width:100%; height:1px; margin:15px 0; 
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(215,214,213,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(215,214,213,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(215,214,213,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(215,214,213,1) 50%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(215,214,213,1) 50%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(215,214,213,1) 50%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

/* =======================Header =========================*/
header { width:100%; background:#3f3f3f; border-bottom:3px solid #00adf6; }
.logo { float:left; }
.top_menu { float:right; }
.top_menu ul { margin:0; padding:0; }
.top_menu ul li { float:left; display:block; list-style:none; line-height:38px; }
.top_menu ul li a {  font-size:16px; color:#fff; margin:0 15px; padding-bottom:23px; font-family:Georgia, "Times New Roman", Times, serif;}
.top_menu ul li a:hover { color:#00adf6; text-shadow: 2px 1px #000; background:url(../img/hover_arrow.png) no-repeat bottom; }
.top_menu ul li a.active { color:#00adf6;text-shadow: 2px 1px #000; background:url(../img/hover_arrow.png) no-repeat bottom; }





/* =========================Form ============================*/
.form { width: 610px; min-height:300px; margin:20px auto; }
input[type="text"], input[type="password"], select, textarea { width:100%; border:1px solid #edebeb; height:25px; box-shadow: 2px 2px 2px 0 #edebeb; padding-left:5px; }
input[type="submit"] { width:100%; height:32px; background:url(../img/green_btn.jpg); color:#fff; border-radius:5px; border:none; font-size:16px; cursor:pointer; }

.three_field input[type="text"] { width:131px; margin-right:10px; }
.three_field select { width:137px; margin-right:10px; color:#999; }

.upload { font-size:18px; line-height:normal; }
.upload select { width:100%; }
.upload input[type="text"] { width:222px; }
.upload textarea { width:390px; height:120px; }
.style_1 { font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#3e3e40; }
.upload_btn {
    width: 80px;
    height: 29px;
    background:url(../img/upload_btn.png) 0 0 no-repeat;
    border:none;
    overflow:hidden;
	text-align:center;
} 
upload_btn :hover {
    background: url(../img/upload_btn_hover.png) 0 0 no-repeat;
	color:#CCCCCC;
}

.password_btn {
    width: 80px;
    height: 29px;
    background:url(../img/password_btn.png) 0 0 no-repeat;
    border:none;
    overflow:hidden;
	text-align:center;
	cursor:pointer;
} 
password_btn:hover {
    background: url(../img/password_btn_hover.png) 0 0 no-repeat;
	color:#333333;
}

.file_browse{
    margin-left:-145px;
    opacity:0.0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}



/* =======================Footer ===========================*/
footer { width:100%; background:#3f3f3f; padding:10px 0; }
.footer_menu {}
.footer_menu ul{ margin:0; padding:0;}
.footer_menu ul li { float:left; list-style:none; line-height:20px; }
.footer_menu ul li a { color:#fff; font-size:12px; margin:0 10px;}
.footer_menu ul li a:hover { text-decoration:underline; }

.copyright { float:right; color:#fff; font-size:12px; }



.index { font-family:Arial, Helvetica, sans-serif; font-size:14px; }
.index h1 { font-family:Georgia, "Times New Roman", Times, serif; font-size:20px; }

.showdow_container { width:980px; height:auto; box-shadow:0px 0px 3px 0px #666; margin:auto; padding:0 10px; }
.banner { margin-top:-5px; }
.testimonial { width:400px; height:350px; overflow:auto; float:left;  }
.testimonial_box { width:auto; height:auto;  }
.test_img { float:left; text-align:center; }
.test_img_cont { width:250px; float:right; font-style:italic; font-size:15px;  } 
.avtar_img { width:113px; height:113px; border-radius:100% ; margin-bottom:15px; overflow:hidden;}
.testimonial h1 { color:#68b43b; font-size:16px; font-style:normal; }

.about_cont { width:560px; height:350px; float:right; }
.about_link { height:43px; line-height:43px; margin-top:95px; }
.about_link ul { margin:0; padding:0; }
.about_link ul li { float:left; list-style:none; padding-left:52px; margin-right:70px; }
.about_link ul li a { font-size:17px; font-family:Georgia, "Times New Roman", Times, serif; color:#2a2a2a; font-weight:bold; }
.about_link .view_step { background:url(../img/veiw_step_icon.png) no-repeat; }
.about_link .salaried { background:url(../img/salaried_icon.png) no-repeat; }
.about_link .consultant { background:url(../img/consultant_icon.png) no-repeat; }

.trut_comp_logo { width:auto; height:200px; text-align:center;
	background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(219,219,219,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(219,219,219,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
}











button { padding:5px 20px; background:url(../img/green_btn.jpg); border:none; border-radius:5px; color:#fff; cursor:pointer; font-size:16px;}
button:hover { color:#000; }
.btn_yellow { padding:5px 20px; background:url(../images/btn_yellow_bg.jpg) center;border:none; border-radius:5px; color:#fff; cursor:pointer; font-size:16px; }
.btn_yellow:hover { color:#666; }
.btn_delete { background:url(../images/btn_delete_bg.jpg) center; }

.admin_menu { width:130px; height:auto; min-height:400px; border-right:1px solid #CCC; margin:30px 0; float:left;  }
.admin_menu ul { margin:0; padding:0; }
.admin_menu ul li { list-style:none; line-height:25px; }
.admin_menu ul li a { color:#68b43b; font-size:18px; }
.admin_menu ul li a:hover { color:#2c6e06; }
.admin_menu ul li a.active { color:#2c6e06; }
.ticket {float:left; margin:30px 0; padding:0 20px; width:809px; }
.feedback td { border-bottom:1px solid #CCC; }
.add_feedback td { border:none; }

.filter { width:100px !important; margin:0 10px;}

#navigation li{ list-style-type:none !important; font-size:16px; line-height:30px;}
navigation li ul { padding-left:0;}
#navigation li p{ font-size:13px; line-height:normal; font-family:Arial, Helvetica, sans-serif;}
#navigation li table{ font-size:13px; line-height:normal; font-family:Arial, Helvetica, sans-serif;}
#navigation li td{ border-bottom:1px solid #CCC;}
#navigation li a { color:#090; }


.linkButton{
	border: medium none; border-radius: 5px; color: #FFFFFF; cursor: pointer;    font-size: 16px;    padding: 5px 20px;
}

.linkButton:hover{
	color:#000000;
}

.downloadButton{
	background: url('../img/green_btn.jpg') repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 20px;
}

.downloadButton:hover{
    color: #000000;
}

.userPanNum input {
	width: 20px;
}
